@import "tailwindcss";

:root {
  color-scheme: light dark;
}

body {
  @apply bg-gray-100 text-black dark:bg-[#0b0f19] dark:text-white transition-colors duration-300;
}

/* Premium gradient background */
.gradient-bg {
  background: radial-gradient(circle at top, #1a1f35, #0b0f19);
}
